<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Erin Wolpert</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/1-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Matt Bohan</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Portfolio:
                    <small>Data Science Projects</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="static/images/boston.png" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Visualizing MBTA Data</h3>
                <h4>An interactive exploration of Boston's subway system</h4>
                <p>Boston’s Massachusetts Bay Transit Authority (MBTA) operates the 4th busiest subway system in the U.S. after New York, Washington, and Chicago. If you live in or around the city you have probably ridden on it. The MBTA recently began publishing substantial amount of subway data through its public APIs. They provide the full schedule in General Transit Feed Specification (GTFS) format which powers Google’s transit directions.</p>
                <a class="btn btn-primary" href="http://mbtaviz.github.io/">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="https://bost.ocks.org/mike/algorithms/starry-night-detail.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Visualizing Algorithms</h3>
                <h4>The power of the unaided mind is highly overrated...</h4>
                <p>Algorithms are a fascinating use case for visualization. To visualize an algorithm, we don’t merely fit data to a chart; there is no primary dataset. Instead there are logical rules that describe behavior. This may be why algorithm visualizations are so unusual, as designers experiment with novel forms to better communicate. This is reason enough to study them.</p>
                <a class="btn btn-primary" href="https://bost.ocks.org/mike/algorithms/">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="https://espnfivethirtyeight.files.wordpress.com/2015/12/morris-stephcurry-21.png?w=575" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Stephen Curry Is The Revolution</h3>
                <h4>He's so good.</h4>
                <p>Before this year’s NBA season started, I had a conversation with a Golden State Warriors fan. He was excited about his team and was keen to explain its success: It was perfectly balanced, with perfect chemistry, role players, coaching and management. That Stephen Curry is pretty amazing also helped.</p>
                <a class="btn btn-primary" href="http://fivethirtyeight.com/features/stephen-curry-is-the-revolution/">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">

            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://www.pewresearch.org/files/2014/12/PP-2014-06-12-polarization-0-05.png" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Our favorite Pew Research Center data visualizations from 2014</h3>
                <h4>Republicans Shift to the Right, Democrats to the Left</h4>
                <p>The heart of our work at the Pew Research Center is data. And data visualizations that tell clear stories about our research — whether it be about American politics or our changing demographics — are just as important as the words we write in a report. So, what makes a successful data visual? We think it should present information clearly and concisely, engage the reader and allow them to explore that information (Hat-tip to Alberto Cairo’s Functional Art; we’re also big fans of Dona Wong’s Wall Street Journal Guide to Information Graphics).</p>
                <a class="btn btn-primary" href="http://www.pewresearch.org/fact-tank/2014/12/29/our-favorite-pew-research-center-data-visualizations-from-2014/">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Five -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="static/images/schedule.png" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>The Daily Routines of Famous Creative People</h3>
                <h4>Turns out great minds don’t think alike</h4>
                <p>Turns out great minds don’t think alike. Discover how some of the world’s most original artists, writers and musicians structured their day, based on ‘Daily Rituals’ by Mason Currey. Filter the different categories by toggling on or off, and hover over the colored bars to learn more about the daily routines.</p>
                <a class="btn btn-primary" href="https://podio.com/site/creative-routines">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

</body>

</html>
