<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Erin Wolpert</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/1-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Personality</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/github">GitHub</a>
                    </li>
                    <li>
                        <a href="/linkedin">LinkedIn</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">NMF Analysis:
                    <small>8 Traits By Demographic</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <div>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; To derive the ideal personality trait theory for the given personality test dataset, I first explored different dimension reduction methods (SVD, PCA, ICA) but ultimately found that
                <a href="https://en.wikipedia.org/wiki/Non-negative_matrix_factorization"> Non-Negative Matrix Factorization </a> gave the cleanest set of personality traits. Specfically, to get those personality traits from NMF, one looks at the H matrix from the NMF.  A non-negative matrix factorization
                decomposes the original matrix in to two matricies, a W and an H matrix. W and H approximate V but don't create a full reconstruction when multiplied because NMF's non-negative aspect makes it generally impossible to create a fully positive exact solution.
            </p>

            <br>
            <center> <img src="static/images/NMF.png" alt="NMF"> </center>
            <br>

            <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In this case, V, the original matrix or dataset, has 50K survey respondents (rows) answering 163 questions (columns) (V = 50,000 X 163).
            By choosing different numbers of personality traits to pull from the data, we change the dimensions of the decomposed W and H matricies.
            When pulling 8 personality traits from the data, we get a W matrix with 50K survey respondents (rows) and how high they rate on the 8 personality traits (columns) (W = 50,000 X 8).
            The H matrix has how each of the 8 traits (rows) relates to the 163 questions (columns) (H = 8 X 163). Thus, to figure out what exact personality trait each abstract trait is actually describing, we look
            at the H matrix to see which personality questions most heavily weighted to a specific trait.

            </p>

            <br>

            <h4>
                Choosing 8 Traits:
            </h4>

            <div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; When choosing the number of personality traits to pull out of the matrix, I both tried to maintain internal (within the top ten questions of trait) and external (in topics between traits) category consistency. I also aimed to pull non-trivial traits
                out of the dataset, meaning, I wanted the traits to capture more complex ideas around personality.  After qualitatively exploring NMF models with different numbers of traits, I choose 8 because it best fit my model goals.

            </div>

            <br>
            <br>

            <h4>
            Explore the personality traits by demographic:
        </h4>

        </div>


        <div class="row">
            <h3> <a href="/trait1"> Trait 1: Social / Respects Rules </a> </h3>
            <h3> <a href="/trait2"> Trait 2: Worried / Reserved </a> </h3>
            <h3> <a href="/trait3"> Trait 3: Partier / Emotionally Volatile </a> </h3>
            <h3> <a href="/trait4"> Trait 4: Breaks Rules / Judgmental </a> </h3>
            <h3> <a href="/trait5"> Trait 5: Angry / Judgemental / Dislikes Complex Ideas and Art </a> </h3>
            <h3> <a href="/trait6"> Trait 6: Passive / Messy / Sees Oneself as Average </a> </h3>
            <h3> <a href="/trait7"> Trait 7: Emotionally Open / Intellectually Thoughtful </a> </h3>
            <h3> <a href="/trait8"> Trait 8: Reserved </a> </h3>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>


    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

</body>

</html>
